<mat-toolbar  class="mat-elevation-z6">
    
    <mat-toolbar-row>

        <span>Bookshelves</span>

        <button mat-button routerLink="books" routerLinkActive="active">Livres</button>

        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>

        <span>
            <button mat-button routerLink="auth/signup" routerLinkActive="active">Creer un compte</button>
        </span>

        
        <span>
            <button mat-button routerLink="auth/signin" routerLinkActive="active">Connexion</button>
        </span>

    </mat-toolbar-row>
  
    
  </mat-toolbar>